@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7fc8a9;
}

.padre {
  position: absolute;
  height: 12%;
  width: 95%;
  margin-left: 2%;
  margin-top: 2%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  background-color: #5f7a61;
  color: #7fc8a9;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-size: 64px;
  cursor: default;
}

#ejecutar {
  margin-top: 8%;
  margin-left: 2%;
  height: 50px;
  width: 150px;
  font-family: "Varela Round", sans-serif;
}

#traducir {
  margin-top: 8%;
  margin-left: 3%;
  height: 50px;
  width: 150px;
  font-family: "Varela Round", sans-serif;
}

#Terrores {
  margin-top: 8%;
  margin-left: 3%;
  height: 50px;
  width: 150px;
  font-family: "Varela Round", sans-serif;
}

#Tsimbolos {
  margin-top: 8%;
  margin-left: 3%;
  height: 50px;
  font-family: "Varela Round", sans-serif;
  width: 164px;
}

#report {
  margin-top: 8%;
  margin-left: 3%;
  height: 50px;
  width: 150px;
  font-family: "Varela Round", sans-serif;
}

#grammar {
  margin-top: 8%;
  margin-left: 3%;
  height: 50px;
  width: 180px;
  font-family: "Varela Round", sans-serif;
}

#clear {
  margin-top: 8%;
  margin-left: 3%;
  height: 50px;
  font-family: "Varela Round", sans-serif;
  width: 180px;
}

.container {
  position: absolute;
  height: 90%;
  width: 95%;
  margin-left: 5%;
  margin-top: 3%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#txtEdditor {
  margin-left: 8%;
  margin-top: 6%;
  height: 570px;
  width: 600px;
  border-radius: 10px;
  position: absolute;
}

.ed {
  font-family: "Patua One", cursive;
  position: absolute;
  margin-top: 3%;
  margin-left: 10%;
  font-size: 35px;
}

#txtConsole {
  margin-left: 53%;
  margin-top: 4.4%;
  height: 570px;
  width: 600px;
  border-radius: 10px;
}

.edc {
  font-family: "Patua One", cursive;
  position: absolute;
  margin-top: 1.5%;
  margin-left: 55%;
  font-size: 35px;
}
