@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7fc8a9;
}

header {
  width: 100%;
  height: 50%;
  margin-block-end: 1%;
}

.padre {
  position: relative;
  height: 12%;
  width: 95%;
  margin: 2%;
  margin-left: 2%;
  margin-top: 2%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  background-color: #5f7a61;
  color: #7fc8a9;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-size: 64px;
  cursor: default;
}

/*Div en donde se encuentran los botones*/
.arranque {
  width: 100%;
  height: 85px;
  position: relative;
  margin-block-end: 2%;
}
/*Botones*/
#abrir {
  margin-top: 1%;
  margin-left: 3.5%;
  height: 50px;
  width: 150px;
  font-family: "Varela Round", sans-serif;
  border-radius: 25px;
}

#Terrores {
  margin-top: 1%;
  margin-left: 3.5%;
  height: 50px;
  width: 150px;
  font-family: "Varela Round", sans-serif;
  border-radius: 25px;
}

#Tsimbolos {
  margin-top: 1%;
  margin-left: 3.5%;
  height: 50px;
  width: 190px;
  font-family: "Varela Round", sans-serif;
  border-radius: 25px;
}

#report {
  margin-top: 1%;
  margin-left: 3.5%;
  height: 50px;
  width: 190px;
  font-family: "Varela Round", sans-serif;
  border-radius: 25px;
}

#grammar {
  margin-top: 1%;
  margin-left: 3.5%;
  height: 50px;
  width: 210px;
  font-family: "Varela Round", sans-serif;
  border-radius: 25px;
}

#clear {
  margin-top: 1%;
  margin-left: 3.5%;
  height: 50px;
  width: 190px;
  font-family: "Varela Round", sans-serif;
  border-radius: 25px;
}

#ejecutar {
  margin-top: 2%;
  margin-left: 14%;
  height: 50px;
  width: 180px;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  border-radius: 25px;
  color: #7fc8a9;
  border: none;
}

#traducir {
  margin-top: 2%;
  margin-left: 42%;
  height: 50px;
  width: 180px;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  border-radius: 25px;
  color: #7fc8a9;
  border: none;
}
/* Los text area que tienen el codemirror*/
.containers {
  width: 100%;
  height: 1580px;
  position: relative;
}

.entry {
  width: 600px;
  height: 620px;
  margin-top: 2.5%;
  margin-left: 7%;
  float: left;
}

.output {
  width: 600px;
  height: 620px;
  margin-top: 2.5%;
  margin-left: 7%;
  float: left;
}

.traductor {
  width: 600px;
  height: 680px;
  margin-top: 2.5%;
  margin-left: 7%;
  float: left;
}

.ast {
  width: 600px;
  height: 680px;
  margin-top: 2.5%;
  margin-left: 7%;
  float: left;
}

/*Cuadro donde estan los botones ejecutar y traducir*/
.exec {
  width: 1306.5px;
  height: 100px;
  margin-left: 7%;
  clear: both;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #5f7a61;
}
/*---------------------------------------------------*/

/* Titulos */
.ed {
  position: absolute;
  font-size: 28px;
  margin-left: 10%;
  font-family: "Patua One", cursive;
}

.ou {
  font-family: "Patua One", cursive;
  position: absolute;
  font-size: 28px;
  margin-left: 58%;
}

.tra {
  font-family: "Patua One", cursive;
  position: absolute;
  font-size: 28px;
  margin-left: 10%;
}

.Tast {
  font-family: "Patua One", cursive;
  position: absolute;
  font-size: 28px;
  margin-left: 58%;
}
